table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

table td,
th {
  border: 1px solid #000000;
  padding: 0.5rem 1rem;
}

table td {
  text-align: center;
  transition: all 0.2s;
}

table td.disabled {
  opacity: 0.5;
}

table td:hover:not(.disabled) {
  background: #eeeeee;
  cursor: pointer;
}

table .active {
  color: var(--primary-color);
  font-weight: bold;
}

table .selected {
  color: blue;
}
